.input-comment {
  height: 200px;
  resize: none;
  margin-bottom: 12px;
}

.form {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
}

.file {
  margin-bottom: 12px;
}

.button {
  &__close {
    box-sizing: border-box;
    height: 28px;
    width: 28px;
    margin-bottom: 20px;
  }

  &__send {
    margin-top: 12px;
  }
}
